.nav{
    display: none;

}
.menu_img{
    display: block;
}
.menu_img:hover .nav{
    display: block;
}

.wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
 
}
.wrapper_text{
    width: 100vw;
    padding: 40px;
 
}
.wrapper_image{
    width: 100vw;
    text-align: center;
   
}

/* ------ABOUT Section ---- */
.contentInfo{
   width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoDiv{
    margin-left: 2em;
}
/* Contact */
.contactWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}