.nav{
    display: none;

}
.menu_img{
    display: block;
}
.menu_img:hover .nav{
    display: block;
}

.wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
 
}
.wrapper_text{
    width: 100%;
 
}
.wrapper_text h2 {
    font-size: 2.3em;
}
.img{
    width: 100%;
    text-align: center;
   
}
.infoDiv{
    width: 100%;
}
/* ------ABOUT Section ---- */
.contentInfo{
   width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoDiv{
    margin-left: 2em;
}
/* Contact */
.contactWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}